include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Integración de tecnologías del aprendizaje, del conocimiento y la participación
        meta(meta name="description" content="Informacioón del programa Integración de tecnologías del aprendizaje, del conocimiento y la participación.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Integración de tecnologías del aprendizaje, del conocimiento y la participación
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark 
                                        li 
                                            span #[strong Nombre del programa:] Integración de tecnologías del aprendizaje, del conocimiento y la participación
                                        li 
                                            span #[strong Código:] 41311595
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de Ingreso:] : Instructores SENA. Cumplir con el procedimiento de selección definido por la Escuela Nacional Instructores.

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/TUZnlQvxuHc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 ¿Se ha preguntado sobre la manera en que las tecnologías digitales han revolucionado nuestra manera de vivir y relacionarnos? Como toda revolución, ha generado un gran impacto en los diferentes sectores de la sociedad y la educación no es la excepción; entre las promesas y preocupaciones concernientes a su uso, requerimos desarrollar las competencias necesarias para explorar y aprovechar sus potencialidades de acuerdo con las necesidades y particularidades de nuestros contextos educativos.

                p El curso Integración de tecnologías del aprendizaje, del conocimiento y la participación,  permitirá, por medio de  tres fases derivadas del aprendizaje basado en proyectos, reconocer diferentes concepciones, formas de búsqueda, selección y evaluación de información, así como herramientas digitales, que luego de ser analizadas y determinar que son apropiadas, nos permitan formular una propuesta que parte desde el diseño de estrategias didácticas hasta la producción de recursos digitales para la implementación en diversos ambientes de aprendizaje.


                p Esperamos que con estos recursos a su disposición puedan aprender sobre los temas propuestos con mayor facilidad y certificar la competencia: Integrar TIC en los procesos de enseñanza aprendizaje de acuerdo con las competencias a desarrollar en el estudiante.

                p ¡Bienvenidos!

        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 En la actualidad se está familiarizado con el término TIC (Tecnologías de la Información y la Comunicación) para definir el uso de la tecnología en el intercambio de información donde los procesos de transmisión de información están arraigados dentro de nuestra vida cotidiana y educativa. Con el fin de acotar el contexto del término TIC, Julio Cabrero (2014) define los términos TAC (Tecnología del Aprendizaje y el Conocimiento) y TEP (Tecnología del Empoderamiento y la Participación). Desde la perspectiva de las TAC, se define como el uso de las TIC aplicado dentro del ambiente formativo como una herramienta para la realización de actividades de enseñanza-aprendizaje en escenarios innovadores, afectando.
 
                p Desde la perspectiva de las TEP, se define como el uso de las TIC para conectar el ambiente de formación con su entorno y desarrollar dinámicas de formación tanto para el docente como el dicente. En el marco de la estrategia de cualificación del Talento Humano, el SENA con el liderazgo de la dirección de formación profesional y la escuela nacional de instructores, crea este programa de formación complementaria, que busca brindarle a sus instructores herramientas para generar recursos que faciliten la comunicación, el conocimiento y la participación en su quehacer pedagógico.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Instructores SENA y docentes.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p La estrategia metodológica propuesta para el desarrollo del presente curso es el Aprendizaje Basado en Proyectos (ABP), reconociendo como fase fundamental el proceso de reconocimiento de la realidad desde la investigación en contexto, mediado por la indagación, observación y exploración, siendo un proceso vital que se constituye en la base fundamental para comprender su práctica pedagógica. La presente metodología es llevar a los directivos docentes y docentes instructores a volver a su labor, fortalecida por la reflexión hermenéutica en torno a su práctica pedagógica y al sentido de su profesión; pero también, que logre darle mayor dinamismo y fundamento a su ejercicio con la implementación de una metodología activa y su relación con las competencias del siglo XXI.
 
                p Para el desarrollo del proyecto se tendrán en cuenta las fases que se proponen desde la metodología (ABP), agrupadas en 3 grandes categorías para dar facilidad a su desarrollo en el marco del curso: 

                ul
                  li Fase N° 1. Problematización y planeación: “Reconociendo problemáticas de mi práctica pedagógica”.
                  li Fase N° 2. Diseño y ejecución: “Construyendo mi recurso”.
                  li Fase N° 3. Socialización y divulgación: “Compartiendo mi proyecto”. 

                p En el ABP la investigación en contexto, el aprendizaje colaborativo y la construcción de conocimiento tienen la misma importancia que la adquisición de habilidades y actitudes por parte de los aprendices, quienes son considerados como protagonistas de su aprendizaje en esta metodología. Esto implica que para el desarrollo y aplicación de la misma, se deban configurar equipos de trabajo integrados por personas con perfiles, áreas disciplinares, idiomas y culturas diferentes que trabajen de manera conjunta para proponer e implementar proyectos que den solución a  problemas reales.


        +creditosFooter("assets/images/logos/senaLogo.svg")





